// $border: 1px solid black;
// $border-radius: 5px;

$strava-orange: #fc4c02;
$not-strava-blue: #02b3fd;

$filter-orange: contrast(0%) invert(0) sepia(100%) saturate(1000%) brightness(100%) hue-rotate(-30deg);

$garamond: 'Garamond', Garamond, garamond;

$react-fontstack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

@mixin border {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
}

.DEBUG {
  display: none;
}

// @mixin

// @font-face {
//   font-family: 'Higumin';
//   src: local('Higumin'), url('../public/assets/fonts/higumin-rough.otf') format('otf');
// }

.App {
  position: relative;
  box-sizing: border-box;
}

.App main {
  padding: 1em;
  max-width: 1000px;
  margin: auto;
  margin-top: 1em;
}

button {
  cursor: pointer;
}

a {
  color: $not-strava-blue;
}
a:hover {
  filter: contrast(175%);
}

// COVERALLS

.FloatRight {
  float: right;
}



nav {
  @include border;
  margin: 1em;
  // margin-bottom: 1em;
  padding: 5px 5px 0px;

  font-family: 'Luminari', Luminari, luminari;
  font-family: 'Garamond', Garamond, garamond;

  text-align: right;
  // &:hover {
  //   box-shadow: 0px 2px 5px grey;
  // }

  z-index: 20;

  position: relative;

  background-color: white;

  .MainTitle {
    font-family: $garamond;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    // top: -0.2em;
    // position: relative;
    position: absolute;
    top: 10px;
    left: 110px;
    text-shadow: 1px 1px 2px grey;
  }


  .AppleLogo {
    img {
      height: 108px;
      position: absolute;
      left: 5px - 12px;
      top: -10px - 16px;
      // image-rendering: crisp-edges;
      // image-rendering: pixelated;
      cursor: pointer;
      &.AppleGuy {
        filter: drop-shadow(1px 1px 2px grey);
      }
      &.HalfAppleGuy {
        opacity: 0;
      }
    }
    &:hover {
      .HalfAppleGuy {
        opacity: 1;
      }
    }
  }


  .NewRunButton, .SettingsButton {
    // height: 2em;
    // width: 2em;
    // display: inline-block;
    // background-image: url('../public/Odds60.png');
    // background-size: contain;
    border: 0;
    background-color: transparent;

    &:hover {
      // mix-blend-mode: difference;
      filter: invert(0.2);
    }
  }



  .UserButton {
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 0 0 0;
    height: 38px;
    width: 34px;
  }


}


.StravaConnectButton {
  border: 0;
  background-color: transparent;
  // max-height: 20px;
  &:hover {
    opacity: 0.8;
  }
  img {
    height: 3em;
    width: auto;
    display: inline-block;
  }
}

@media only screen and (min-width: 1100px) {
  nav {
    // max-width: calc(100% - 4em);
    // margin: 2em auto;
  }
}

.SettingsButton, .SettingsContainer {
  display: none;
}

.SettingsContainer {
  .Setting {
    button {
      background-image: url('../public/assets/102-checkbuttondouble32x14.png');
      border: 0;
      background-color: transparent;
      height: 14px;
      width: 16px;
        // background-position: 100%;
      &.Off {
        background-position: 100%;
      }
    }
  }
}

.ProfileContainer, .SettingsContainer {
  height: 0;
  position: relative;
  // width: 100%;
  @extend nav;

  border: 0;
  box-shadow: 0px 0px 0px white;


  margin-top: -1.5em;

  box-sizing: border-box;

  z-index: 18;

  // overflow-y: hidden;

  // hides profile drawer
  &::before {
    content: '';
    position: absolute;
    right: -0.5em;
    bottom: 50%;
    width: calc(100% + 1em);
    background-color: white;
    height: 100px;
    z-index: 22;
  }
}
.Profile {
  @extend nav;
  margin: 0;

  position: absolute;
  right: 0;
  padding: 1.5em 0.5em 0.5em 0.75em;
  top: -0.5em;
  // width: 100%;

  transform: translateY(-100%);
  transition: 0.5s transform;

  &.show {
    transform: translateY(0%);
  }

  .StravaConnectButton {
    img {
      height: 3em;
    }
    padding-right: 0;
    margin-right: -1px;
  }

  .StravaID {
    border-bottom: 2px solid $strava-orange;

  }


  .UserConnection {
    font-weight: bold;
    position: relative;
    font-size: 0.9em;

    .Connected {
      color: $not-strava-blue;
    }
    .Unconnected {
      color: darkgrey;
    }
    span {
      position: relative;
      top: -0.85em;
    }
    span::after {
      content: 'to database';
      position: absolute;
      top: 80%;
      right: 0;
    }
  }

  .UserForm {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 0.8em;
    .LabelAndInput {
      margin-top: 0.25em;
    }
    button {
      margin-left: 0.25em ;
      margin-top: 0.25em ;
    }
  }

  .User {
    font-family: $react-fontstack;
  }

  .ReconnectButton {
    border-color: $strava-orange;
    border-radius: 2px;
    border-width: 1px;
    background-color: $strava-orange;
    box-shadow: 0px 0px 1px grey;
    color: white;
    padding-right: 0;
    margin-right: -1px;
  }
}

.StackingGif {
  display: inline-block;
  top: 0.3em;
  position: relative;
}

.Approval {
  display: inline-block;
}

.StravaProfile {
  padding-top: 0.5em;
  .StravaProfileBlurb {
    display: inline-block;
  }
}

.StravaAthlete {
  padding-bottom: 0.25em;
  display: inline-block;
  img {
    filter: grayscale(1);
    // border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid black;
    height: 52px;
    width: 52px;
  }
  .StravaID {
    border-bottom: 2px solid $strava-orange;

    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $strava-orange;
      }
    }
  }
  .AthleteDetails {
    display: inline-block;
    margin-right: 0.75em;

  }
  .StravaPhoto {
    display: inline-block;
    top: 0.3em;
    position: relative;
    top: 6px;
    background-image: url('../public/assets/Treasures92-frame-60.png');
    height: 60px;
    width: 60px;
  }
}

.IntroUser {
  display: inline-block;
}
.StravaAside {
  border: 1px solid $strava-orange;
  border-radius: 3px;
  padding: 0.5em 0.75em;
  display: inline-block;
  float: right;
  font-size: 0.8em;
  margin-bottom: 3em;

  a {
    color: black;
    text-decoration: none;
  }
  .StravaConnectButton {
    float: right;
    margin-top: 0.2em;
    margin-bottom: -2.75em;
  }
}

main {
  // padding-top: 0em;
  margin-top: 2em;

  .PageTitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Garamond;
    letter-spacing: 0.02em;
  }
}


.StravaActivities {
  table {
    tr {
      &.isLinked {
        td.ActivityName {
          font-weight: bold;
          cursor: pointer;
          .LinkedRunImpression {
            font-weight: normal;
          }
        }

      }
    }


  }
  .LoadMore {
    text-align: center;
    button {
      display: inline-block;
      vertical-align: top;
      width: 25px;
      height: 12px;
      border: 0;
      background-color: transparent;
      background-image: url('../public/assets/101-loadmore-2.png');
      background-position: right;
      position: relative;

      &:hover {
        background-position: left;
        &::before {
          opacity: 1;
          content: 'Load';
          position: absolute;
          right: 30px;
          top: -2px;
        }
        &::after {
          opacity: 1;
          content: 'More';
          position: absolute;
          left: 30px;
          top: -2px;
        }
      }
    }


  }
}

.StravaActivities, .Runs {
  // max-width: 49%;
  // display: inline-block;
  .LinkedRunImpression {
    margin-left: 0em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    // border-left: 2px solid black;
    position: relative;
    white-space: pre-wrap; // important for line wrapping
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% - 0.4em);
      top: 0.3em;
      left: 0;
      background-color: gainsboro;
      border-left: 1px solid grey;
    }
  }
  .RunIcon {
    &:not(.StravaRun) {
      img {
        filter: grayscale(1) brightness(0%) drop-shadow(0px 1px 0px darkgrey) drop-shadow(0px -1px 0px darkgrey) drop-shadow(1px 0px 0px darkgrey) drop-shadow(-1px 0px 0px darkgrey);
      }
    }
    &.StravaRun {
      img {
        // filter:  contrast(0%) invert(1) sepia(100%) saturate(1000%) brightness(100%) hue-rotate(-30deg);

        overflow: visible;
      }
    }
    img {
      filter: drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(1px 0px 0px black) drop-shadow(-1px 0px 0px black);
    }
  }
}

.Runs {
  vertical-align: top; /*debug*/
  .RunTitle {
    cursor: pointer;
  }
  table {
    width: 100%;
  }


}

// expander for run title/descri[ption]
td {
  .LinkedRunImpression {
    display: none;
  }
  &.Expanded {
    .LinkedRunImpression {
      display: block;
    }
  }
}

.LatestStravaActivity {
  border: 1px solid $strava-orange;
  border-radius: 3px;
  padding: 1em;
  padding-bottom: 0.5em;
  position: relative;
  display: inline-block;
  width: calc(100% - 20em);
  float: right;
  min-width: 20em;

  .Title {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
    padding-right: 60px; /* for stash icon */
  }
  .Description {
    white-space: pre-wrap;
  }
  .StoreActivity {
    display: inline-block;
    // background-image: url('../public/assets/HC18-addtostack.png');
    background-image: url('../public/assets/34-fileaway.png');
    width: 32px;
    height: 32px;
    background-position: left;

    background-image: url('../public/assets/34-fileaway-exp-x2-alt.png');
    width: 37px;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 1em;
    bottom: -1px;
    &:hover {
      // opacity: 0.5;
      background-position: right;
    }
  }
  .Date {
    text-align: right;
  }
}

aside.Writer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 132px;
  min-height: 251px;
  max-width: 700px;
  width: calc(100% - 82px);
  height: 300px;

  .Hand {
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -100px;
    width: 132px;
    height: 251px;
    background-image: url('../public/assets/Hand Note Card --transparent-cropped-noline.png');
  }

  .Card {
    background-color: white;
    width: calc(100% - 114px);
    height: calc(100% - 19px);
    position: absolute;
    left: 112px;
    bottom: 17px;
    border: 1px solid black;
    border-radius: 3px;

    padding: 0.75em 1.5em 1em;
    padding-left: 1.5em;
    box-sizing: border-box;
    &.WideStyle {
      bottom: -133px;
    }
    .StravaTitle, .RunTitle {
      font-family: $garamond;
      font-style: italic;
      font-weight: bold;
      font-size: 1.2em;
      // position: absolute;
      // left: 1.2em;
      // top: 0.5em;
    }
    .RunTitle {
      background-color: white;
      border: 0;
      width: 100%;
      box-sizing: border-box;
    }
    input {
      border: 0;
      &:focus {
        outline: none;
        background-color: #e6e6e6;
      }
    }
    textarea {
      resize: none;
      // width: calc(100% - 0px);
      // height: calc(100% - 1px);
      // padding: 2em 1.5em 1em;
      // box-sizing: border-box;
      width: calc(100% - 0.25em);
      height: calc(100% - 1.5em - 0.8rem);
      border: 0;
      font-family: inherit;
      background-color: #f2f2f2;

      &:focus {
        outline-color: $strava-orange;
        outline: none;
        background-color: #e6e6e6;
      }
    }
    .SaveReadout {
      font-family: monospace;
      float: right;
      margin-right: 1.6em;
      padding-top: 0.2em;
    }
    .SaveButton {
      width: 40px;
      height: 39px;
      box-sizing: border-box;
      display: inline-block;
      background-image: url('../public/assets/floppy-60-double39x80.png');
      background-color: transparent;

      border: 0px solid white;
      font-size: 0;
      padding: 0;
      &:hover {
        background-position: 100%;
      }
      & div {
        display: inline-block;
      }
      position: absolute;
      right: 2px;
      bottom: 5px;
      &.Alert::after {
        content: 'alert';
        width: 32px;
        height: 32px;
        position: absolute;
        left: 4px;
        top: 2px;
        background-image: url('../public/assets/223-alert.png')
      }
      &.Saving::before, &.Alert::before {
        content: '';
        background-image: url('../public/assets/floppy-60-double39x80.png');
        filter: brightness(0%);
        width: 40px;
        height: 39px;
        position: absolute;
        top: 0;
        left: 0;
      }
      &.Saving::after {
        content: 'saving';
        width: 32px;
        height: 32px;
        position: absolute;
        left: 4px;
        top: 2px;
        background-image: url('../public/assets/dbl-floppy-gif.gif');
        filter: drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px 1px 0px white) drop-shadow(0px -1px 0px white);
      }
    }
    // .UpdateStravaCheck {
    //   background-image:url('../public/assets/102-checkbutton-x2-hollow.png');
    //   background-color: transparent;
    //   height: 14px;
    //   width: 16px;
    //   border: 0;
    //   z-index: 0;
    //   position: absolute;
    //   right: 42px;
    //   bottom: 6px;
    //   background-position: left;
    //   &.Checked {
    //     background-position: right;
    //   }
    //   &:hover::before {
    //     content: 'Update Strava';
    //     width: 8em;
    //     position: absolute;
    //     right: 10px;
    //     top: 0;
    //     color: $strava-orange;
    //   }
    // }

  }

  transition: transform 0.5s;
  &.hide {
    transform: translateY(100%);
  }

  .CloseButton {
    top: 6px;
    right: 6px;
    height: 20px;
    width: 20px;
    position: absolute;
  }
  .StravaOption {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 6px;
    padding: 0;
    right: 28px;
    background-color: transparent;
    transform: rotate(180deg);
    border: 0;
    background-image: url('../public/assets/184-close-strava.png');
    filter:  contrast(0%) invert(1) sepia(100%) saturate(1000%) brightness(100%) hue-rotate(-30deg);
    background-size: contain;
    &:hover {
      opacity: 0.5;
      &::before {
        content:'Clear Strava Activity';
        transform: rotate(180deg);
        position: absolute;
        width: 10em;
        left: 15px;
        top: -0px;
        opacity: 1;
        // background-color: gold;
        // left: -10px;
        // right: 20px;

      }
    }
  }
}

.CloseButton {
  border: 0;
  background-image: url('../public/assets/184-close.png');
  background-size: contain;
  background-color: white;
  &:hover {
    opacity: 0.5;
  }
}

footer {
  @include border;

  margin: 1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-top: 0.1em;
  .Left, .Right {
    width: 50%;
    display: inline-block;
  }
  .Left {

  }
  .Right {
    text-align: right;
  }
  img {
    max-height: 1.5em;
  }
  img.Copyleft-symbol {
    height: 0.75em;
  }
  img.React-logo {
    height: 1.5em;
    display: inline-block;
    position: relative;
    top: 0.25em;
  }

}
//
// @media (prefers-reduced-motion: no-preference) {
//   .React-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
//
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

table {
  tr {

    td {
      margin: 0;
      padding: 0;
      vertical-align: top;
    }
  }
  .ElevationIcon {
    border-right: 1em solid black;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 100%;
    display: inline-block;
    padding: 0 0.2em;
  }
  .Date {
    text-align: right;
    padding-left: 0.2em;
  }
  .LinkOut {
    padding-left: 0.2em;
    a:hover img {
      position: relative;
      left: 4px;
    }
  }


}

.ButtonCell {
  line-height: 0;
}
.ActivityLogButton {
  background-image: url('../public/assets/95-justhand.png');
  border: 0;
  background-color: transparent;
  height: 13px;
  width: 20px;
  font-size: 0;
  &:hover {
    filter: contrast(0.5);
  }
}

// JUST FOR DEBUG
.Intro p {
  // display: none;
}
