:root {
  --strava: #fc5200;
}

.App {
  /* text-align: center; */
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* position: static; */
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 0.5em;
}

/* .App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.Unconnected {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}


.Athlete {
  position: relative;
  top: 0.25em;
  left: 0.25em;
  font-size: 1em;
  text-align: left;
}

.Athlete img {
  border-radius: 50%;
  height: 3em;
  border: 2px solid var(--strava);
}

.AthleteInfo {
  padding-left: 0.5em;
  padding: 0 0.25em 0.1em;
  display: inline-block;
  /* vertical-align: middle; */
  /* margin-top: -1em; */
  top: -0.5em;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.Athlete .AthleteLocation {
  font-size: 0.675em;
  color: #fc5200;
  font-weight: 600;
}

.MetricButton {
  font-size: 1.5em;
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.LoadingInfo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 20px;
  transition: top 1s;
  background-color: white;
}

.LoadingInfo.NoneLoaded {
  top: 45vh;
}

.LoadingBar {
  height: 1.6em;
  width: 1.6em;
  border: 2px solid #fc5200;
  border-radius: 50%;
  border-width: 2px;
  /* border-color: white white #fc5200 #fc5200; */
  display: inline-block;
  animation: loading 1s infinite linear;
  animation-timing-function: step-end;
  transform: rotate(45deg);
  position: relative;
  top: -0.125em;
}

.LoadingBar.Loading {
  text-align: center;
  vertical-align: middle;
}
.LoadingBar.Loaded {
  transform: rotate(0deg);
  animation: none;
  text-align: center;
  vertical-align: middle;
}

.LoadingBar span {
  position: relative;
  top: 0.25em;
  vertical-align: middle;
}
.LoadingBar.Loading span {
  transform: rotate(-45deg);
  display: block;
  position: relative;
}

@keyframes loading {
  0% {border-color: white white white white;}
  12.5% {border-color: #fc5200 white white white;}
  25% {border-color: #fc5200 #fc5200 white white;}
  32.5% {border-color: #fc5200 #fc5200 #fc5200 white;}
  50% {border-color: #fc5200 #fc5200 #fc5200 #fc5200;}
  62.5% {border-color: white #fc5200 #fc5200 #fc5200;}
  75% {border-color: white white #fc5200 #fc5200;}
  87.5% {border-color: white white white #fc5200;}
  100% {border-color: white white white white;}
}

.ActivityControls button {
  background-color: white;
  cursor: pointer;
  height: 2em;
  /* border-color: #bf3e00; */
  border-color: #fc5200;
}

.ActivityControls .FilterButton {
  /* background-color: #fc5200; */
  /* border: 2px solid #fc5200; */
  border-radius: 50%;
  width: 2em;
  margin-right: 0.25em;
}

.ActivityControls .FilterButton.Selected {
  /* background-color: #c94100; */
  /* border-color: #bf3e00; */
  background-color: #fc5200;
}

.ActivityControls .DisplayStyleButton {
  font-weight: 600;
  border-radius: 1em;
  margin-right: 0.25em;
  color: #fc5200;
}
.ActivityControls .DisplayStyleButton.Selected {
  background-color: #fc5200;
  /* border-color: #bf3e00; */
  border-color: #fc5200;
  color: white;
}

table em {
  color: white;
}

.DisplayListTable th button {
  border: 0;
  cursor: pointer;
}

.Token {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1em; width: 100%;
  display: inline-block;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.Token.Leg {
  background-image: url('/public/leg.png');
}
.Token.Foot {
  background-image: url('/public/foot.png');
}
.Token.Bike {
  background-image: url('/public/bicycle.png');
}
.Token.Swimmer {
  background-image: url('/public/swimmer.png');
}

.TokenLabel {
  text-align: center;
  font-weight: 500;
  /* color: var(--strava); */
  /* position: absolute; */
  /* z-index: 100000; */
}

.DisplayTable {
  border-collapse: collapse;
}

.DisplayTable {
  width: 100%;
}

.DisplayTable tr {
  border-bottom: 2px solid var(--strava);
  /* background-color: red; */
  width: 100%;
  height: 4em;
  position: relative;
}

.DisplayTable tr th {
  position: absolute;
  top: calc(100% - 1em);
  /* vertical-align: bottom; */
}

.DisplayTable tr td {
  width: calc(100% / 12);
  height: 4em;
  position: relative;
  /* position: relative; */
  /* display: block; */
}

.DisplayYear {

}

.DisplayMonth {

}

div.DisplayTable > div {
  height: 4em;
  position: relative;
  width: 100%;
}

div.DisplayTable > div > span {
  height: 4em;
  position: absolute;
  display: inline-block;
}

div.DisplayTable > span .Token {
  display: inline-block;
}

.DisplayTable .HoverInfo {
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid var(--strava);
  display: inline-block;
  width: auto;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  background-color: white;
  height: auto;
}
